RewriteEngine on

#RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
#RewriteRule ^(.*)$ - [E=BASE:%1]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#========================== pulbic ======================================================

RewriteRule ^login$ public/login.php [L]   


#================ ======================================= ==================================




# ========================= admin ===========================================================
RewriteRule ^admin$ admin/dashboard [L] 

RewriteRule ^admin/dashboard$	 admin/index.php [L]  


RewriteRule ^admin/addvol$	 admin/addvol.php [L]  
RewriteRule ^admin/viewvol$	 admin/viewvol.php [L]  
RewriteRule ^admin/volsecretary$	 admin/volsecretary.php [L]  


RewriteRule ^admin/viewvol/([^/]+)$ admin/fulviewvol.php?id=$1 [L] 
RewriteRule ^admin/edit_vol/([^/]+)$ admin/edit_vol.php?id=$1 [L] 



RewriteRule ^admin/new$	 admin/new.php [L]  
RewriteRule ^admin/add$	 admin/addvol.php [L]
RewriteRule ^admin/view$ admin/viewvol.php [L]
RewriteRule ^admin/addcamp$ admin/addcamp.php [L]
RewriteRule ^admin/viewcamp$ admin/viewcamp.php [L]


RewriteRule ^admin/viewcamp/([^/]+)$ admin/viewsingecamp.php?id=$1 [L] 
RewriteRule ^admin/editcamp/([^/]+)$ admin/editcamp.php?id=$1 [L] 



RewriteRule ^admin/addevent$ admin/addevent.php [L]
RewriteRule ^admin/viewevent$ admin/viewevent.php [L]


RewriteRule ^admin/viewevent/([^/]+)$ admin/viewsingeevent.php?id=$1 [L] 
RewriteRule ^admin/editevent/([^/]+)$ admin/editevent.php?id=$1 [L] 



RewriteRule ^admin/vol_select$ admin/vol_select.php [L] 



RewriteRule ^admin/feedback$ admin/feedback.php [L] 
RewriteRule ^admin/change_password$ admin/change_password.php [L] 







# ========================= volunteer ===========================================================
RewriteRule ^volunteer$ volunteer/dashboard [L] 

RewriteRule ^volunteer/dashboard$	 volunteer/index.php [L]  


RewriteRule ^volunteer/change_password$ volunteer/change_password.php [L] 
RewriteRule ^volunteer/profile$	 volunteer/profile.php [L]  



RewriteRule ^volunteer/viewcamp$ volunteer/viewcamp.php [L] 
RewriteRule ^volunteer/viewcamp/([^/]+)$ volunteer/viewsingecamp.php?id=$1 [L] 
RewriteRule ^volunteer/editcamp/([^/]+)$ volunteer/editcamp.php?id=$1 [L] 



RewriteRule ^volunteer/viewevent$ volunteer/viewevent.php [L] 
RewriteRule ^volunteer/viewevent/([^/]+)$ volunteer/viewsingeevent.php?id=$1 [L] 
RewriteRule ^volunteer/editevent/([^/]+)$ volunteer/editevent.php?id=$1 [L] 


#================ ======================================= ==================================



RewriteRule ^files/(.*) files_p9DFyy/$1








#RewriteRule ^login$ login.php [L]  
#RewriteRule ^ajax$ ajax.php [L]  





#RewriteRule ^password$ public/rit_soft_pass.php [L]   
#RewriteRule ^password_key$ public/rit_soft_pass.php [L]   
#RewriteRule ^password_key/([^/]+)$ public/rit_soft_pass.php?key=$1 [L] 



RewriteRule ^global.php$ index.php [L]  
RewriteRule ^uploads/$ index.php [L]  
RewriteRule ^root/$ index.php [L]  
RewriteRule ^root/(.*) index.php [L]  
RewriteRule ^files/$ index.php [L]  
RewriteRule ^files/(.*) index.php [L]  
RewriteRule ^assets/$ index.php [L]   




RewriteRule ^logout$ logout.php [L]  
RewriteRule ^exit$ logout.php [L]  





ErrorDocument 400 /ritpenta/public/error.php?key=400
ErrorDocument 401 /ritpenta/public/error.php?key=401
ErrorDocument 403 /ritpenta/public/error.php?key=403 
ErrorDocument 404 /ritpenta/public/error.php?key=404
ErrorDocument 500 /ritpenta/public/error.php?key=500
ErrorDocument 502 /ritpenta/public/error.php?key=502
ErrorDocument 504 /ritpenta/public/error.php?key=504